
body{
    display: flex;
    background: linear-gradient(to bottom, #87A2FB 0%, #ADDDD0 100%); 
    height: 200px;
    width: 330px;
    border-color: #EEEEEE;
    justify-content: center;
    align-items: center;
}

#timer{
    display: block;
    align-items: center;
}

#timerDisplay{
    color: black;
    font-size: large;
    text-align: center;
}

h2{
    font-size: xx-large;
    font-family: 'Bungee Shade', cursive;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border-radius: 10px 100px / 120px;
    background-color: #e4dad8;
    font-family: 'Bungee Shade';
}

button:hover {
    border-radius: 100px 10px / 120px;
    background-color: #eb8e7d;
}